$primary-color: #337ab7;
$muted-color: #C0C0C0;
$default-size: 30px;

.button.play {
    position: relative;
    display: inline-block;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: $default-size;
    transition: 100ms all ease;
    cursor: pointer;
    top: -14px;
    // play state
    border-style: solid;
    border-width: $default-size / 2 0px $default-size / 2 $default-size;
    border-color: transparent transparent transparent $primary-color;

    &.pause {
        border-style: double;
        border-width: 0px 0px 0px $default-size;
        top: -1px;
        margin-bottom: 15px;
    }

    &:hover {
        border-color: transparent transparent transparent #286090;
    }
}

.button.play:focus {
    outline-color: #ffffff
}

.button.play:disabled {
    border-color: transparent transparent transparent $muted-color;
}

.button.stop {
    transition: 100ms all ease;
    display: inline-block;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    height: $default-size + 2;
    width: $default-size + 2;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background-color: #BB1626;
    }
}

.button.stop:disabled {
    background-color: $muted-color;
}

.button.stop:focus {
    outline-color: #ffffff
}

.button.skip {
    transition: 100ms all ease;
    background: url('../images/skip.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 48px;
    height: 32px;
    margin: 0 5px 0 5px;

    &:hover {
        background: url('../images/skip_hover.png') no-repeat;
    }
}

.button.skip:disabled {
    background: url('../images/skip_disabled.png') no-repeat;
}

.button.skip:focus {
    outline-color: #ffffff
}

#volume {
    width: 90%;
    height: 30px;
    position: relative;
    top: 10px;
    left: 1px;

    i {
        position: absolute;
        margin-top: -6px;
        color: grey;
    }

    i.fa-volume-down {
    }

    i.fa-volume-up {
        right: 0;
    }
}

#volumeSlider {
    position: absolute;
    left: 10%;
    margin: 0 auto;
    height: 5px;
    width: 77%;
    background-color: $muted-color;
    border-radius: 15px;
    top: -1px;

    .ui-slider-range-min {
        height: 5px;
        width: 100%;
        position: absolute;
        background: $primary-color;
        border: none;
        border-radius: 10px;
        outline: none;
    }

    .ui-slider-handle {
        transition: 100ms all ease;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: lavender;
        position: absolute;
        margin-left: -8px;
        margin-top: -8px;
        cursor: pointer;
        outline: none;

        &:hover {
            width: 22px;
            height: 22px;
            background-color: $primary-color;
        }
    }
}

.progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 4px;

    .progress-bar {
        background-color: $primary-color;
        position: relative;
        border-radius: 4px;

        span {
            background-color: $primary-color;
            position: absolute;
            bottom: -20px;
            font-size: 10px;
            line-height: 10px;
            padding: 2px 3px 2px 4px;
            right: -1.4em;
            border-radius: 2px;
        }

        span:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: $primary-color;
            border-width: 5px;
            margin-left: -5px;
        }
    }
}

