<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoDJ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.scss" />
    <link rel="stylesheet" href="~/css/lds-roller.css" />
    <link rel="stylesheet" href="~/css/controls.scss" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8332a66da7.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">AutoDJ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item sessionDisconnected">
                            <a class="nav-link text-dark" href="" data-toggle="modal" data-target="#createSessionModal">Create Session</a>
                        </li>
                        <li class="nav-item sessionDisconnected">
                            <a class="nav-link text-dark" href="" data-toggle="modal" data-target="#joinSessionModal">Join Session</a>
                        </li>
                        <li class="nav-item sessionConnected">
                            <a class="nav-link text-dark" href="" data-toggle="modal" data-target="#connectedSessionModal">Connected to <span id="navSessionId"></span></a>
                        </li>
                        <li class="nav-item sessionConnected">
                            <a class="nav-link text-dark" href="javascript:void(0);" onclick="leaveSession()">Leave Session</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="" data-toggle="modal" data-target="#helpModal">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AutoDJ
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
