<h4>Creating A Session</h4>
<p class="has-text">To create a session, click on the 'Create Session' button in the navbar. You will be presented with a confirmation popup window, here you will also be able to enable or disable certain functionality for other users.</p>
<img class="center" src="~/images/guide/CreateSession.PNG" alt="Create Session" />
<p class="has-text">Once a session has been successfully created, you will be given a Session ID. This is a six-digit code which identifies your session and allows others to connect to it. Your Session ID is displayed in the navbar for easy access, clicking on this will present a popup window also displaying the SessionID but in a copyable form.</p>
<h4>Joining A Session</h4>
<p class="has-text">To join a session, click on the 'Join Session' button in the navbar. You will be presented with a popup window containing a field to enter a Session ID. Simply enter the Session ID provided by the session's creator, if successful your queue will be synced with the session.</p>
<h4>Adding A Song</h4>
<p class="has-text">When you want to add a song to the queue, enter the name of the song or other relevant search criteria into the Add Song search bar, making sure the 'Video' toggle is selected and click the Search button. A request will be sent to YouTube's searching API which may take a few moments to process. Once the request has been processed you will be shown upto 5 video results to choose from, with details about the video and its thumbnail being displayed. Once you choose a video, click the 'Add To Queue' button and the video will be placed on the queue with one vote.</p>
<img class="center" src="~/images/guide/AddSong.PNG" alt="Add Song" />
<h4>Adding A Playlist</h4>
<h6><i>This feature may be disabled for session users</i></h6>
<p class="has-text">Similarly to adding a song, a YouTube playlist can be added to the queue by entering keywords into the Add Song search bar and selecting 'Playlist' from the the toggle. You will be presented with upto 5 relevant YouTube playlists with accompanying details to choose from. Once a playlist is added to the queue, the app will retrive all videos and add them to queue individually, this may take some time especially for large playlists. Videos added from a playlist will have no votes by default.</p>
<img class="center" src="~/images/guide/AddPlaylist.PNG" alt="Add Playlist" />
<h4>The Queue</h4>
<p class="has-text">Arguably the most importent component of AutoDJ, the queue lists all of the songs that have been requested in a session in the order that they will be played. When a user wants to add a song to the queue, a queue item containing the songs details will be created and appended to the queue. A queue item consists of the title and duration of the video and channel it belongs to, along with its thumbnail and two buttons to vote for the song and remove it (may be disabled) respectively.</p>
<img class="center" src="~/images/guide/QueueItem.PNG" alt="Queue Item" />
<p class="has-text">The voting system allows any user connected to the session to vote for songs they would like to play, the queue is ordered based on the number of votes each song has so the most popular songs will rise to the top of the queue and subsequently be the next to be played.</p>
<img class="center" src="~/images/guide/QueueVotes.PNG" alt="Queue Votes" />
<h4>Playback Controls</h4>
<p class="has-text">The playback controls consist of a  play/pause button, a stop button and a skip button as well as a volume slider. When connected to a session the pause, stop and skip buttons affect the entire session while the volume slider will only change the volume for that device. The stop and skip buttons may be disabled for session users.</p>
<img class="center" src="~/images/guide/Controls.PNG" alt="Controls" />

