@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript" src="js/search.js"></script>
<script type="text/javascript" src="js/queue.js"></script>
<script type="text/javascript" src="js/player.js"></script>

<div class="row justify-content-between">
    <div class="col-6">
        <div class="row">
            <div class="col-sm-8 p-0" style="margin: 50px">
                <div class="card shadow" style="min-width: 500px">
                    <div class="card-header">
                        <h4>Add Song<br /><small>Search YouTube for a song to add to the queue</small></h4>
                    </div>
                    <div class="card-body">
                        <form id="searchForm" class="form-inline" method="POST">
                            <div class="col-8 b-0 p-0 mt-1 mb-1" style="margin-right: 3%">
                                <label class="sr-only" for="searchText">Search</label>
                                <input type="text" class="form-control" id="searchText" placeholder="Search" style="width: 100%;">
                            </div>
                            <div class="float-right mt-1 mb-1">
                                <button type="button" class="btn btn-primary mr-1" id="searchBtn" onclick="search()">Search</button>
                                <button type="button" class="btn btn-danger" id="cancel" onclick="cancelSearch()" disabled>Cancel</button>
                            </div>
                        </form>

                        <div id="roller" class="row justify-content-center mt-3" style="display:none;">
                            <div><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
                        </div>

                        <div id="details" class="mt-3" style="display:none;">
                            <div class="row">
                                <div class="col-8" style="margin-right: 3%">
                                    <h5 class="text-muted">Video <span id="resultIndex"></span> of <span id="numResults"></span>:</h5>
                                    <p><b>Name:</b> <span id="resultName"></span></p>
                                    <p><b>Channel:</b> <span id="resultChannel"></span></p>
                                    <p><b>Length:</b> <span id="resultLength"></span></p>
                                    <p><b>Date Published:</b> <span id="resultDate"></span></p>
                                </div>

                                <div class="col-3 m-1 mt-4 p-0">
                                    <img src="" class="rounded shadow" id="resultThumbnail" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8" style="margin-right: 3%">
                                    <button type="button" class="btn btn-secondary" id="prevButton" onclick="updateResult(false)" disabled>Previous</button>
                                    <button type="button" class="btn btn-secondary" id="nextButton" onclick="updateResult(true)">Next</button>
                                </div>

                                <div class="float-right m-1">
                                    <button type="button" class="btn btn-primary" id="addToQueue" onclick="addToQueue()">Add To Queue</button>
                                </div>
                            </div>
                        </div>

                        <div id="noResults" style="margin-top:20px; display:none;">
                            <p>No videos could be found.</p>
                        </div>

                        <div id="error" style="margin-top:20px; display:none;">
                            <p>An error has occured.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 p-0" style="margin: 50px">
                <div class="card shadow" style="min-width: 500px">
                    <div class="card-header">
                        <h4><span id="playState">Now Playing...</span><br /><small><span id="videoTitle"></span></small></h4>
                    </div>
                    <div class="card-body justify-content-center" id="playerContainer">
                        <div id="player"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-0" style="margin: 50px">
        <div class="card shadow" style="min-width: 375px">
            <div class="card-header">
                <div>
                    <h4>Song Queue<br /><small><span id="queueTime"></span></small></h4>
                    <button id="playButton" class="button play" onclick="playClicked()" disabled></button>
                </div>
            </div>
            <div class="card-body">
                <div id="queueEmpty" class="row justify-content-center">
                    <h5 class="muted">Queue is empty</h5>
                </div>

                <div id="queueContainer" style="display: flex; flex-direction: column;">

                </div>
            </div>
        </div>
    </div>
</div>
