@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="js/sessions.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    <script type="text/javascript" src="js/queue.js"></script>
    <script type="text/javascript" src="js/player.js"></script>
    <script type="text/javascript" src="js/controls.js"></script>
}

<div class="overlay row justify-content-center">
    <div class="my-auto">
        <div><div id="loadingRoller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
        <div id="loadingText">Loading...</div>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-xl-8 col-sm-12">
        <div class="row">
            <div class="col-lg-6 p-0 section">
                <div class="card shadow" style="min-width: 375px">
                    <div class="card-header">
                        <h5>Add Song<br /><small>Search YouTube for a song to add to the queue</small></h5>
                    </div>
                    <div class="card-body search-body">
                        <div class="form-inline">
                            <div class="col mb-0 p-0 mt-1 mb-1" style="margin-right: 3%">
                                <label class="sr-only" for="searchText">Search</label>
                                <input type="text" class="form-control has-text" id="searchText" placeholder="Search" style="width: 100%;">
                            </div>
                            <div class="row">
                                <div class="col mt-1 mb-1">
                                    <input type="checkbox" id="playlistToggle" data-toggle="toggle" data-style="myToggle" data-on="Playlist" data-off="Video" data-offstyle="light" data-onstyle="light">
                                    <button type="button" class="btn btn-primary mr-1 has-text" id="searchBtn" onclick="onSearch()" style="width: auto">Search</button>
                                </div>
                            </div>
                        </div>

                        <div id="roller" class="row justify-content-center mt-3" style="display:none;">
                            <div><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
                        </div>

                        <div id="details" class="mt-3" style="display:none;">
                            <div class="row">
                                <div class="col-7 col-sm-8 has-text" style="margin-right: 3%">
                                    <h5 class="text-muted"><span id="resultType"></span>: <span id="resultIndex"></span> of <span id="numResults"></span>:</h5>
                                    <p><b>Name:</b> <span id="resultName"></span></p>
                                    <p><b>Channel:</b> <span id="resultChannel"></span></p>
                                    <p><b><span id="lengthOrDescription"></span>:</b> <span id="resultLengthOrDescription"></span></p>
                                    <p><b>Date Published:</b> <span id="resultDate"></span></p>
                                </div>

                                <div class="col-3 m-1 mt-4 p-0">
                                    <img src="" class="rounded shadow" id="resultThumbnail" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7 col-sm-8" style="margin-right: 3%">
                                    <button type="button" class="btn btn-secondary has-text" id="prevButton" onclick="updateResult(false)" disabled>Previous</button>
                                    <button type="button" class="btn btn-secondary has-text" id="nextButton" onclick="updateResult(true)">Next</button>
                                </div>

                                <div class="float-right ml-1">
                                    <button type="button" class="btn btn-primary has-text" id="addToQueue" onclick="onAddToQueue()">Add To Queue</button>
                                </div>
                            </div>
                        </div>

                        <div id="noResults" style="margin-top:20px; display:none;">
                            <p>No videos could be found.</p>
                        </div>

                        <div id="error" style="margin-top:20px; display:none;">
                            <p>An error has occured.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col p-0 section d-flex justify-content-center">
                <div class="card card-body shadow p-2" style="min-width: 200px; max-width: 350px; max-height: 100px">
                    <div class="row" style="">
                        <div class="pt-1" style="margin: auto">
                            <button id="playButton" class="button play" onclick="playClicked()" disabled></button>
                            <button id="stopButton" class="button stop" onclick="stopClicked()" disabled></button>
                            <button id="skipButton" class="button skip" onclick="skipClicked()" disabled></button>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div id="volume">
                            <i class="fa fa-volume-down"></i>
                            <div id="volumeSlider"></div>
                            <i class="fa fa-volume-up"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="playerCardRow" class="row">
            <div id="playerCard" class="col p-0 section" style="display: none;">
                <div class="card shadow" style="min-width: 300px">
                    <div class="card-header" style="font-size: 0;">
                        <div class="infoLeft">
                            <h5><span id="playState">Now Playing...</span><br /><small><span id="videoTitle"></span></small></h5>
                        </div>
                        <span class="buttonRight">
                            <button id="playerShowHideBtn" class="btn btn-outline-primary btn-wrap-text has-text" onclick="playerShowHideClicked()" style="max-height: 38px;">Hide</button>
                        </span>
                    </div>
                    <div id="playerBody" class="card-body justify-content-center pb-0">
                        <div id="playerContainer">
                            <div id="player"></div>
                        </div>

                        <div class="">
                            <div id="timeline" class="progress">
                                <div id="timelineBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span id="timelineTime">0:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 p-0 section">
        <div class="card shadow" style="min-width: 375px">
            <div class="card-header">
                <div style="font-size: 0;">
                    <div class="infoLeft">
                        <h5>Song Queue<br /><small><span id="songCount"></span><span id="queueTime"></span></small></h5>
                    </div>
                    <span class="buttonRight">
                        <button id="clearQBtn" class="btn btn-outline-danger btn-wrap-text has-text" onclick="clearQueueClicked()" style="max-height: 38px;" disabled>Clear Queue</button>
                    </span>
                </div>
            </div>
            <div id="queueCardBody" class="card-body">
                <div id="queueEmpty" class="row justify-content-center">
                    <h5 class="muted">Queue is empty</h5>
                </div>

                <div id="queueContainer">
                </div>

                <div id="queueShowHide" class="mt-4" style="display: none;">
                    <button id="queueShowHideButton" type="button" class="btn btn-outline-secondary btn-block" onclick="queueShowHideClicked()">Show All</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createSessionModal" tabindex="-1" role="dialog" aria-labelledby="createSessionTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSessionTitle">Create Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="createSessionInitial">
                    Invite friends to participate in your queue by creating a session.
                </div>
                <br />
                <div class="permissionsSetup">
                    <h5>Setup User Permissions</h5>
                    <div class="row">
                        <div class="col-7">
                            <label class="toggleSpacing" for="stopToggle">Allow users to stop/skip videos: </label>
                            <label class="toggleSpacing" for="removeToggle">Allow users to remove videos: </label>
                            <label class="toggleSpacing" for="noPlaylistToggle">Allow users to add playlists: </label>
                            <label class="toggleSpacing" for="hidePlayerToggle">Hide player by default: </label>
                        </div>
                        <div class="col-2">
                            <input type="checkbox" id="stopToggle" data-toggle="toggle" data-on="On" data-off="Off" data-offstyle="light" data-onstyle="light">
                            <input type="checkbox" id="removeToggle" data-toggle="toggle" data-on="On" data-off="Off" data-offstyle="light" data-onstyle="light">
                            <input type="checkbox" id="noPlaylistToggle" data-toggle="toggle" data-on="On" data-off="Off" data-offstyle="light" data-onstyle="light">
                            <input type="checkbox" id="hidePlayerToggle" data-toggle="toggle" data-on="On" data-off="Off" data-offstyle="light" data-onstyle="light">
                        </div>
                    </div>
                </div>
                <div class="createSessionSuccessful" style="display: none">
                    Session created successfully!<br />Share your Session ID with friends so they can join your queue.
                    <br />
                    <br />
                    <label for="newSessionId">Your Session ID:</label>
                    <input type="text" id="newSessionId" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <div class="createSessionInitial">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createSessionBtn" onclick="createSession()" disabled>Create Session</button>
                </div>
                <div class="createSessionSuccessful" style="display: none">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="joinSessionModal" tabindex="-1" role="dialog" aria-labelledby="joinSessionTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinSessionTitle">Join Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span id="joinSessionInfoText">Enter a Session ID to join an active session.</span>
                    <br />
                    <br />
                    <form novalidate>
                        <label class="sr-only" for="enteredSessionId">Session ID</label>
                        <input class="form-control" type="text" id="enteredSessionId" placeholder="Session ID" required />
                        <div class="valid-feedback">
                            Session joined successfully
                        </div>
                        <div class="invalid-feedback">
                            Session ID entered is not valid, please try again...
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="joinSessionBtn" onclick="joinSession()" disabled>Join Session</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectedSessionModal" tabindex="-1" role="dialog" aria-labelledby="connectedSessionTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="connectedSessionTitle">Connected Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Share your Session ID with friends so they can join your queue.
                    <br />
                    <br />
                    <label for="displaySessionId">Your Session ID:</label>
                    <input type="text" id="displaySessionId" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpTitle" aria-hidden="true">
    <div class="helpModal modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpTitle">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs mb-3" role="tablist">
                        <li role="presentation" class="nav-item active">
                            <a class="nav-link" href="#aboutTab" aria-controls="aboutTab" role="tab" data-toggle="tab">About</a>

                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#guideTab" aria-controls="guideTab" role="tab" data-toggle="tab">Guide</a>

                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="aboutTab">
                            <partial name="_About" />
                        </div>
                        <div role="tabpanel" class="tab-pane" id="guideTab">
                            <partial name="_Guide" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
